%div{"data-behaviour" => "date-range"}
	= form.date_field low_date,
		:type => "text",
		:start_year => Date.today.year,
		:end_year => (Date.today + 1.year).year,
		:default => quote.enter_date || Date.today,
		:placeholder => l(Date.today),
		"data-behaviour" => "date-picker",
		"data-constrain-start-date" => l(Date.today),
		"data-constrain-end-date" => "+1y",
		:icon => "calendar"
	= form.date_field high_date,
		:type => "text",
		:start_year => Date.today.year,
		:end_year => (Date.today + 1.year).year,
		:default => Date.today + 1.day,
		:placeholder => l(Date.today),
		"data-behaviour" => "date-picker",
		:icon => "calendar"