%div{"data-behaviour" => "date-range"}
	= form.text_field low_date,
		:value => (quote.enter_date.nil? ? nil : l(quote.enter_date)),
		:start_year => Date.today.year,
		:end_year => (Date.today + 1.year).year,
		:default => l(quote.enter_date || Date.today),
		:placeholder => l(Date.today),
		"data-behaviour" => "date-picker",
		"data-constrain-start-date" => l(Date.today),
		"data-constrain-end-date" => "+1y",
		:icon => "calendar"
	= form.text_field high_date,
		:value => (quote.leave_date.nil? ? nil : l(quote.leave_date)),
		:start_year => Date.today.year,
		:end_year => (Date.today + 1.year).year,
		:default => l(Date.today + 1.day),
		:placeholder => l(Date.today),
		"data-behaviour" => "date-picker",
		:icon => "calendar"