%div{"data-behaviour" => "date-range"}
	= form.date_field low_date,
		:value => quote.enter_date,
		:start_year => Date.today.year,
		:end_year => (Date.today + 1.year).year,
		:default => quote.enter_date || Date.today,
		:placeholder => l(Date.today),
		:type => "date",
		:min => Date.today,
		:max => Date.today + 1.year,
		"data-behaviour" => "date-picker-mobile"
	= form.date_field high_date,
		:value => quote.leave_date,
		:start_year => Date.today.year,
		:end_year => (Date.today + 1.year).year,
		:default => Date.today + 1.day,
		:placeholder => l(Date.today),
		:type => "date",
		"data-behaviour" => "date-picker-mobile"