/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 */

@import "twitter/bootstrap/bootstrap";

.clear {
	clear: both;
}
.quote_results {
	& > div {
		border: 1px solid #CCC;
	}
	h2,h3,h4,h5 {
		text-align: center;
	}
	h5 {
		font-weight: bold;
		background-color: #EEE;
	}
	h4.underwriter {
		height: 50px;
		vertical-align: middle;
		line-height: 50px;
	}
	.quote_result {
		text-align: center;
		.total_price {
			font-weight: bold;
			margin-bottom: 3px;
		}
		.buy_now {
			font-weight: bold;
			margin-bottom: 3px;
		}
		.term {
			font-style: italic;
		}
		a.btn {
			width: 100%;
			white-space: normal;
			text-align: center;
		}
		dl {
			text-align: left;
			dd {
				padding-bottom: 7px;
				border-bottom: 1px solid #ccc;
				margin-bottom: 7px;
			}
		}
	}
	hr {
		border-color: #CCC;
		margin-top: 10px;
		margin-bottom: 10px;
	}
}
li.has_error {
	color: @state-danger-text;
}