%div.row-fluid
	%div.col-sm-5
		%button.btn.pull-right{:type => "button",
			"data-toggle" => "modal",
			"data-target" => "#contact_modal"}
			= t('app.form.button.get_help')
	%div.col-sm-7
		%button.btn.btn-primary{:type => "submit"}
			= label